@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Righteous', sans-serif;
}

.card {
   position: relative;
   width: 150px;
   height: 150px;
   transform-style: preserve-3d;
   transition: transform .5s;
}

.card_back,
.card_front {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
   backface-visibility: hidden;
}

.card_front {
   background-color: #101c2c;
   transform: rotateY(180deg);
}

.card_back {
   color: #101c2c;
   background-color: #05c3ff;
   font-size: 40px;
}

.flip {
   transform: rotateY(180deg);
}

#gameOver {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   color: white;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   top:0;
}

#restart{
   padding: 20px;
   font-size: 20px;
   background-color: yellow;
   border: none;
   border-radius: 10px;
   margin-top: 20px;
   cursor: pointer;
}